{% extends 'base.html.twig' %}

{% block title %}Connexion!{% endblock %}

{% block body %}
<form method="post" class="my-5">
    {% if error %}
        <div class="alert alert-danger my-5">Erreur lors de la connexion</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">Bienvenue {{ app.user.username }}.</a></div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
    <label for="inputPseudo">Pseudo</label>
    <input type="text" value="{{ last_username }}" name="pseudo" id="inputPseudo" class="form-control mb-4" autocomplete="username" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control mb-2" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <button class="btn btn-lg btn-primary mt-2 mb-5 ms-0" type="submit">Se connecter</button>
</form>
{% endblock %}
