{% extends 'base.html.twig' %}

{% block title %}Modifier la recette{% endblock %}

{% block body %}
    <h1>Modifier la recette</h1>

    {{ include('recette/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
   {# {{ include('recette_ingredient/_form.html.twig') }} #}




    <a href="{{ path('recette_index') }}">Retour à la liste des recettes</a>

    {{ include('recette/_delete_form.html.twig') }}
{% endblock %}
