{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle ecette{% endblock %}

{% block body %}
    <h1>Créer une nouvelle recette</h1>

    {{ include('recette/_form.html.twig') }}

    <a href="{{ path('recette_index') }}" class="btn col-3 shadow p-3 mb-5 bg-body rounded rounded-pill">
        <i class="fas fa-angle-double-left"></i>   Liste des recettes
    </a>
{% endblock %}
