@import url('https://fonts.googleapis.com/css2?family=Dr+Sugiyama&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,400;1,700&display=swap');

/**** QUICK RESET ***/
html,
body {
  font-family: "Poppins", "Sans-Serif", "Arial";
}
/*********HEADER*********/
header {
  background-color: #e4d1cb;
}
/* navbar */
.navbar {
  height: 109px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  background-color: #e6b7a7!important;
}
.navbar-light .navbar-brand {
  color: #962500;
  font-family: 'Dr Sugiyama', 'cursive';
  font-size: 2.6rem;
}
.navbar-light .navbar-brand:hover, 
.navbar-light .navbar-brand:active, 
.navbar-light .navbar-brand:focus {
  border: none; 
  outline: none; 
  color: #962500;
}

.navbar-light .navbar-nav .nav-linklight {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn-outline-light a{
  text-decoration: none;
  font-size: 1.3rem;
  color: #962500;
}
.btn-outline-light:hover, 
.btn-outline-light:focus, 
.btn-outline-light:active{
  background-color: white;
} 
.btn-primary {
  background-color: #962500;
  border: none;
  padding: 7px 30px;
  margin-left:20px
}
.btn-primary a {
  font-size: 1.3rem;
  text-decoration: none;
  color:#e7d1ca;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #db7958;
  box-shadow: none;
}

.text-end a.fa, .fas .fa-user{
  font-size: 2.3rem;
  color: #962500;
  justify-content: center;
}
.text-end a{
 color: #962500;
 font-size: 1.2rem;
 text-decoration: none;
}
/* barre de recherche */
.btn-outline-success {
  color: #962500;
  border-color: #e6b7a7;
}

.btn-outline-success:hover,
.btn-outline-success:focus,
.btn-outline-success:active {
  background-color: #e6b7a7;
  box-shadow: none;
}
.navbar-light .navbar-nav .show .nav-link{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2rem;
}
/* carousel */
.carousel .slide{
  padding:0;
}
.carousel-item img {
  height: 550px;
  border:0;
  object-fit: cover;
}

/*********BUTTONS  & LINKS*********/

button i.far.fa-trash-alt{
  font-size:1.4rem;
  margin: 2px 10px 0 0;
}
.actions-table .me-4,
.actions-table .ms-4{
  text-decoration: none;
  color: #962500;
}
a.redirection_link,
a.me-4,
a.ms-4{
  font-size: 1.2rem!important;
  text-decoration: none;
  color: #962500;
}
a.redirection_link > i,
a.me-4 > i,
a.ms-4 > i{
  font-size: 1.2rem;
  color: #962500;
  margin-right:10px;
}
h1{
  color: #962500;
}
/*********CARDS*********/

/*********FOOTER*********/
.bg-white {
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  background-color:#e4d1cb!important;
}
.text-footer {
  text-decoration: none;
  color:#962500;
}
footer .text-uppercase {
  font-weight: 700;
  color:#962500;
}
.logo-footer{
  color: #962500;
  font-size: 1.5rem;
  font-weight: 600;
}
.bg-light{
  background-color:#e4d1cb!important;
  padding-bottom: 10px;
}
footer .fab, .far{
  font-size: 1.8rem;
  color:#962500;
}
footer .list-inline-item{
  padding: 0 10px 0 10px;
}