@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");

/**** QUICK RESET ***/
html,
body {
  font-family: "Poppins", "Sans-Serif", "Arial";
}

/*********HEADER*********/
header {
  background-color: #f2f2f2;
}
/* navbar */
.navbar{
  height: 109px;
}
.navbar-light .navbar-brand {
  color: #962500;
}
a.navbar-brand{
  font-weight: 600;
  text-transform: uppercase
}
.navbar-expand-lg .navbar-nav{
  text-transform: uppercase;
  font-weight: 600;
}
.navbar-light .navbar-nav .nav-linklight {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn-primary {
  background-color: #8cbdb9;
  border: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #962500;
  box-shadow: none;
}
.btn .me-2 {
  box-shadow: #962500;
}
.btn-outline-success {
  color: #24a695;
  border-color: #8cbdb9;
}

.btn-outline-success:hover,
.btn-outline-success:focus,
.btn-outline-success:active {
  background-color: #8cbdb9;
  box-shadow: none;
}
/* carousel */
.carousel-inner > .item {
  height: 400px;
}
