{% extends 'base.html.twig' %}

{% block title %}Modifier les ingrédients d'une recette{% endblock %}

{% block body %}
<div class="m-4">
    <h1>Modifier les ingrédients d'une recette</h1>

    {{ include('recette_ingredient/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    {{ include('recette_ingredient/_delete_form.html.twig') }}
</div>
    <a href=""{{ path('recette_ingredient_liste_ingredients', {'recette_ingredient': recette_ingredient.id, 'recette':recette.id}) }}"" class="btn col-3 shadow p-3 mb-5 bg-body rounded rounded-pill m-4">
        <i class="fas fa-angle-double-left"></i>   Liste des ingrédients d'une recette
    </a>
{% endblock %}
