{% extends 'base.html.twig' %}

{% block title %}Ingrédient(s) d'une recette{% endblock %}

{% block body %}
<div class="m-4">
    <h1>Ingrédient(s) d'une recette</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recette_ingredient in recette_ingredients %}
            <tr>
                <td>{{ recette_ingredient.id }}</td>
                <td>
                    <a href="{{ path('recette_ingredient_show', {'id': recette_ingredient.id}) }}"class="me-4"><i class="far fa-eye"></i>   Consulter</a>
                    <a href="{{ path('recette_ingredient_edit', {'id': recette_ingredient.id}) }}"class="ms-4"><i class="far fa-edit"></i>   Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Liste vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <a href="{{ path('recette_ingredient_new')}}" class="redirection_link m-4">
        <i class="far fa-plus-square"></i>    Ajouter un ingrédient à une recette
    </a>                      
{% endblock %}
