{% extends 'base.html.twig' %}

{% block title %}RecetteIngredient index{% endblock %}

{% block body %}
    <h1>RecetteIngredient index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recette_ingredient in recette_ingredients %}
            <tr>
                <td>{{ recette_ingredient.id }}</td>
                <td>
                    <a href="{{ path('recette_ingredient_show', {'id': recette_ingredient.id}) }}">Voir plus</a>
                    <a href="{{ path('recette_ingredient_edit', {'id': recette_ingredient.id}) }}">Mettre à jour</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Liste vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('recette_ingredient_new') }}">Ajouter un ingrédient à une recette</a>
{% endblock %}
