<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('home')}}">Recettes du monde</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">

				<li class="nav-item">
					<a class="nav-link" href="{{ path('home')}}">Accueil</a>
				</li>
				{# Mettre la redirection de l'utilisateur connecté  #}
				<li class="nav-item">
					<a class="nav-link" href="#">Nos recettes</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Recette par région
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" href="#">Afrique de l'Ouest</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Afrique de l'Est</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Maghreb</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Moyen-Orient</a>
						</li>
					</ul>
				</li>
			</ul>


			<div class="col-md-3 text-end">

				<button type="button" class="btn connexion me-2">
					<a href="{{ path("app_login") }}">
					<i class="fa fa-sign-in-alt ">Connexion</i>
					</a>
					</button>
					


				<button type="button" class="btn btn-primary">
					<a href="#"></a>S'inscrire</button>

					{# <a class="nav-link" href="{{ path("app_register") }}">
            <i class="fa fa-door-open    "></i> Inscription
          </a> #}

			</div>

		</div>
	</div>
</nav>
{# Optionnel à voir comment effectuer les recherches #}
<div class="container-sm d-flex justify-content-center">
	<form class="d-flex col-6 m-3">
		<input class="form-control me-2" type="search" placeholder="Rechercher une recette" aria-label="Rechercher une recette">
		<button class="btn btn-outline-success" type="submit">Rechercher</button>
	</form>
</div>
</header>