<form method="post" action="{{ path('favori_delete', {'id': favori.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ favori.id) }}">
    <button class="btn btn-danger"><i class="far fa-trash-alt"></i>   Supprimer</button>
</form>
