{% extends 'base.html.twig' %}

{% block title %}Favoris{% endblock %}

{% block body %}
    <h1>Mise à jour des Favoris</h1>

    {{ include('favori/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('favori_index') }}">Retour à la liste</a>

    {{ include('favori/_delete_form.html.twig') }}
{% endblock %}
