{% extends 'base.html.twig' %}

{% block title %}Modifier les favoris{% endblock %}

{% block body %}
<div class="m-4">
    <h1>Modifier les favoris</h1>

    {{ include('favori/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    {{ include('favori/_delete_form.html.twig') }}
</div>
    <a href="{{ path('favori_index') }}" class="btn col-3 shadow p-3 mb-5 bg-body rounded rounded-pill">
        <i class="fas fa-angle-double-left"></i>   Liste des ingrédients
    </a>
{% endblock %}
