{% extends 'base.html.twig' %}

{% block title %}Nouveau Favori{% endblock %}

{% block body %}
    <h1>Créer un nouveau Favori</h1>

    {{ include('favori/_form.html.twig') }}

    <a href="{{ path('favori_index') }}">Retour à la liste</a>
{% endblock %}
