{% extends 'base.html.twig' %}

<<<<<<< HEAD
{% block title %}Créer un nouvel utilisateur{% endblock %}

{% block body %}
<div class="m-4">
    <h1>Créer un nouvel utilisateur</h1>

    {{ include('user/_form.html.twig') }}
</div>
    <a href="{{ path('user_index') }}" class="btn col-3 shadow p-3 mb-5 bg-body rounded rounded-pill">
        <i class="fas fa-angle-double-left"></i>   Liste des utilisateurs
=======
{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
<div class="m-4">
    <h1>Création d'un nouvel utilisateur</h1>

    {{ include('user/_form.html.twig') }}

</div>
    <a href="{{ path('user_index') }}" class="btn col-3 shadow p-3 mb-5 bg-body rounded rounded-pill">
        <i class="fas fa-angle-double-left"></i>   Retour à la liste des utilisateurs
>>>>>>> master
    </a>
{% endblock %}
